<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <div *ngIf="langInd === 'ZH'">
        <ion-title>
          <img style="height: 50px;" src="https://na.cx/i/w57shwD.gif"> 香港雨
        </ion-title>
      </div> 
      <div *ngIf="langInd === 'EN'">
        <ion-title>
          <img style="height: 50px;" src="https://na.cx/i/w57shwD.gif"> HK Rain
        </ion-title>
      </div> 
    </ion-toolbar>
  </ion-header>

  <ion-content class="applyBasicBgColor">
    <ion-list class="applyBasicBgColor">
      <button class="applyBasicBgColor colorToWhite" ion-item (click)="changeLangInd('ZH')">
        繁
      </button>
      <button class="applyBasicBgColor colorToWhite" ion-item (click)="changeLangInd('EN')">
        ENG
      </button>
      <div *ngIf="langInd === 'ZH'">
        <button  class="applyBasicBgColor colorToWhite" ion-item *ngFor="let p of pagesZH" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-left></ion-icon> {{p.title}}
        </button>
      </div>
      <div *ngIf="langInd === 'EN'">
        <button class="applyBasicBgColor colorToWhite" ion-item *ngFor="let p of pagesEN" (click)="openPage(p)">
          <ion-icon name="{{p.icon}}" item-left></ion-icon> {{p.title}}
        </button>
     </div>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>