<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>{{ 'CW.WILL_IT_RAIN' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form id="calInputForm" *ngIf="!showResult && !showForecast">
        <ion-list>
            <ion-item>
                <ion-label>{{ 'CW.YEAR' | translate }}</ion-label>
                <ion-select id="year" name="year" [(ngModel)]="selectedYear" (ngModelChange)="yearChange()">
                    <ion-option *ngFor="let year of selectYearList" value="{{year.value}}">{{year.label}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'CW.MONTH' | translate }}</ion-label>
                <ion-select id="month" name="month" [(ngModel)]="selectedMonth" (ngModelChange)="monthChange()">
                    <ion-option *ngFor="let month of selectMonthList" value="{{month.value}}">{{month.label}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'CW.DAY' | translate }}</ion-label>
                <ion-select id="day" name="day" [(ngModel)]="selectedDay" [disabled]="dayDisable">
                    <ion-option *ngFor="let day of selectDayList" value="{{day.value}}">{{day.label}}</ion-option>
                </ion-select>
            </ion-item>

            <div class="centerAndMiddle">
                <button ion-button type="button" full color="secondary" (click)="calWeather();" [disabled]="selectedYear == null || selectedMonth == null || selectedDay == null">
                    {{ 'CW.GO' | translate }}
                </button>
            </div>

        </ion-list>
    </form>

    <form id="calResultForm" *ngIf="showForecast || showResult">
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <div *ngIf="showForecast" class="mainComponent">
                        <div class="centerAndMiddle paddingTo10">
                            <div class="form-group">
                                <p class="fontLarge colorToWarning"><strong>{{'CW.FORECASR_EXPLAIN' | translate}}</strong></p>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12>
                    <div *ngIf="showForecast" class="subComponent">
                        <div class="centerAndMiddle paddingTo10">
                            <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{forecast.day}} {{monthMap[forecast.month]}} ( {{weekDayEnMap[forecast.weekDay]}} ) </strong></p>
                            <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{forecast.month}} {{'CW.MONTH' | translate}} {{forecast.day}} {{'CW.DAY' | translate}} ( {{weekDayZhMap[forecast.weekDay]}} )</strong></p>
                            <hr style="border-top: 3px solid #eee; margin-top: 0px;" />
                            <p class="fontLarge"><strong>{{forecast.temp}}</strong></p>
                            <p *ngIf="IGV.gLangInd === 'en'" class="fontLarge"><strong>{{forecast.desc_en}}</strong></p>
                            <p *ngIf="IGV.gLangInd === 'zh'" class="fontLarge"><strong>{{forecast.desc_zh}}</strong></p>

                        </div>
                    </div>
                    <div *ngIf="showResult" class="subComponent">
                        <div class="centerAndMiddle paddingTo10">
                            <label *ngIf="IGV.gLangInd === 'en'" class="centerAndMiddle fontLarge paddingBottomTo7">
                                    {{weatherResult.day}} {{monthMap[weatherResult.month]}} {{weatherResult.year}} ( {{weekDayEnMap[weatherResult.weekDay]}} )</label>
                            <label *ngIf="IGV.gLangInd === 'en'" class="fontMiddle paddingBottomTo7">
                                    {{'CW.RECENT' | translate}} {{selectedFilterYear}} {{'CW.YEARS_OF_DATA' | translate}}</label>
                            <label *ngIf="IGV.gLangInd === 'zh'" class="centerAndMiddle fontLarge paddingBottomTo7">
                                    {{weatherResult.year}} {{'CW.YEAR' | translate}} {{weatherResult.month}} {{'CW.MONTH' | translate}} {{weatherResult.day}} {{'CW.DAY' | translate}} ( {{weekDayZhMap[weatherResult.weekDay]}} )  </label>
                            <label *ngIf="IGV.gLangInd === 'zh'" class="fontMiddle paddingBottomTo7">
                                    {{'CW.RECENT' | translate}}{{selectedFilterYear}}{{'CW.YEARS_OF_DATA' | translate}}</label>

                        </div>
                        <div class="centerAndMiddle">
                            <img [src]="weatherIconPath" />
                        </div>
                        <div class="centerAndMiddle">
                            <div class=" colorToWarning">
                                <p class="fontXXLarge"><strong>{{ weatherResult.rainYear | number : '1.1-1' }}% {{ 'CW.WILL_RAIN' | translate }}</strong></p>
                            </div>
                            <div class="">
                                <p class="fontXLarge"><strong>{{ 'CW.TEMPERATURE' | translate }} {{ weatherResult.temp | number : '1.1-1' }}°C</strong></p>
                            </div>
                            <div class="">
                                <p class="fontXLarge"><strong>{{ 'CW.HUMIDITY' | translate }} {{ weatherResult.humidity | number : '1.1-1' }}%</strong></p>
                            </div>
                        </div>

                        <div class="paddingToZero">
                            <hr style="border-top: 3px solid #eee;" />
                        </div>

                        <div *ngIf="weatherResult.drizzle !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.drizzle }"><strong>{{ weatherResult.drizzle | number : '1.1-1' }}% {{ 'CW.DRIZZLE' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.light !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.light }"><strong>{{ weatherResult.light | number : '1.1-1' }}% {{ 'CW.LIGHT_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.moderate !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.moderate }"><strong>{{ weatherResult.moderate | number : '1.1-1' }}% {{ 'CW.MODERATE_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.heavy !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.heavy }"><strong>{{ weatherResult.heavy | number : '1.1-1' }}% {{ 'CW.HEAVY_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.violent !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.violent }"><strong>{{ weatherResult.violent | number : '1.1-1' }}% {{ 'CW.VIOLENT_RAIN' | translate }}</strong></p>
                        </div>
                        <div *ngIf="weatherResult.torrential !== 0" class="centerAndMiddle">
                            <p class="fontLarge" [ngClass]="{'colorToWarning': maxRainValue === weatherResult.torrential }"><strong>{{ weatherResult.torrential | number : '1.1-1' }}% {{ 'CW.Torrential_rain' | translate }}</strong></p>
                        </div>

                        <div class="centerAndMiddle">
                            <a href="javascript:void(0)" (click)="toggleMore();">
                                <p class="fontLarge colorToWhite paddingBottomTo7" *ngIf="!showDtl"><strong>{{ 'CW.MORE' | translate }}  </strong>
                                    <ion-icon name="arrow-dropdown-circle"></ion-icon>
                                </p>
                                <p class="fontLarge colorToWhite paddingBottomTo7" *ngIf="showDtl"><strong>{{ 'CW.LESS' | translate }}  </strong>
                                    <ion-icon name="arrow-dropup-circle"></ion-icon>
                                </p>
                            </a>

                            <div *ngIf="showDtl">
                                <div class="centerAndMiddle">
                                    <p class="fontLarge colorToWarning"><strong>{{'WF.HKO_PROVIDED' | translate}}</strong></p>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-4>
                                                <div class="centerAndMiddle">
                                                    <p class="fontXLarge"><strong>{{ 'CW.YEAR' | translate }}</strong></p>
                                                </div>
                                            </ion-col>
                                            <ion-col col-4>
                                                <div class="centerAndMiddle">
                                                    <p class="fontXLarge"><strong>{{ 'CW.RAIN_INTENSITY' | translate }}</strong></p>
                                                </div>
                                            </ion-col>
                                            <ion-col col-4>
                                                <div class="centerAndMiddle">
                                                    <p class="fontXLarge"><strong>{{ 'CW.RAINFALL' | translate }} (mm)</strong></p>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                        <div *ngFor="let weather of weatherDtlList;">
                                            <ion-row>
                                                <ion-col col-4>
                                                    <div class="centerAndMiddle">
                                                        <p>{{ weather.year }}</p>
                                                    </div>
                                                </ion-col>
                                                <ion-col col-4>
                                                    <div *ngIf="IGV.gLangInd === 'zh'" class="centerAndMiddle">
                                                        <p>{{ weather.rainfallDescZH }}</p>
                                                    </div>
                                                    <div *ngIf="IGV.gLangInd === 'en'" class="centerAndMiddle">
                                                        <p>{{ weather.rainfallDescEN }}</p>
                                                    </div>
                                                </ion-col>
                                                <ion-col col-4>
                                                    <div class="centerAndMiddle">
                                                        <p>{{ weather.rainfall }}</p>
                                                    </div>
                                                </ion-col>
                                            </ion-row>
                                        </div>
                                    </ion-grid>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="centerAndMiddle subComponent">
                        <button ion-button type="button" full color="secondary" (click)="backToCal();">
                            {{ 'CW.BACK' | translate }}
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>